<header>
    <h1>{{title}}</h1>

{{!-- Decided to leave the nav bar underneath the title, it looks a little off when setting it above the title --}}
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>